.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 27px;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    background-color: #ddd;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    position: relative;
    transition: background-color 0.2s ease;
  }
  
  .toggle-label::before {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    transition: transform 0.2s ease;
  }
  
  .toggle-input:checked + .toggle-label {
    background-color: #242424;
  }
  
  .toggle-input:checked + .toggle-label::before {
    transform: translateY(-50%) translateX(100%);
  }
  .dark-mode {
    background-color: #1e1e1e;
    color: #fff;
  }
  .dark-mode .popup-container {
    background-color: rgba(255, 255, 255, 0.7);
  }
  