#popup-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.popup {
  position: relative;
  background-color: rgba(0, 0, 0, 0.801);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.popup.show {
  opacity: 1;
}

.popup:before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  width: 40px;
  height: 40px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  animation: pulse 2s ease-out infinite;
}

.popup-content {
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background-color: #784dafec;
  transition: width 5s linear;
}

